{
 :users {
  "yeKFqj7rX" {:name "chen", :id "yeKFqj7rX", :nickname "chen", :avatar nil, :password "d41d8cd98f00b204e9800998ecf8427e", :theme :star-trail}
 }
 :ir {
  :package "app"
  :files {
   "app.main" {
    :ns {
     :type :expr, :by "yeKFqj7rX", :at 1534483212338, :id "WD4drWEfD9"
     :data {
      "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483212338, :text "ns", :id "jeg5aDS4Wa"}
      "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483212338, :text "app.main", :id "Hvc4wCBXc4"}
      "r" {
       :type :expr, :by "yeKFqj7rX", :at 1534483679032, :id "nGyImxkqpB"
       :data {
        "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483683346, :text ":require", :id "pV7hKeldu"}
        "j" {
         :type :expr, :by "yeKFqj7rX", :at 1561310647126, :id "TB20He6ii2"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1561310647376, :text "[]", :id "Ad38UVIhs"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1561310648628, :text "cumulo-util.file", :id "BaGtW_WUaZ"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1561310651736, :text ":refer", :id "5Vx9hKzk41"}
          "v" {
           :type :expr, :by "yeKFqj7rX", :at 1561310651974, :id "owalH9QgkJ"
           :data {
            "T" {:type :leaf, :by "yeKFqj7rX", :at 1561310652180, :text "[]", :id "uxgBoLB_iz"}
            "j" {:type :leaf, :by "yeKFqj7rX", :at 1561310653161, :text "sh!", :id "1JmkPUOG7T"}
           }
          }
         }
        }
        "r" {
         :type :expr, :by "yeKFqj7rX", :at 1561394886826, :id "uNzPZmfwe7"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1561394887845, :text "[]", :id "uNzPZmfwe7leaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1561394888553, :text "\"fs", :id "5pQu2nVvvw"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1561394889522, :text ":as", :id "o5thijs9eP"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1561394890438, :text "fs", :id "LAksmi8xlv"}
         }
        }
        "v" {
         :type :expr, :by "yeKFqj7rX", :at 1561394899505, :id "Vls6Zuevjf"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1561394900496, :text "[]", :id "Vls6Zuevjfleaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1561394901368, :text "\"path", :id "okLuSN2LP"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1561394902047, :text ":as", :id "lgfMiTA2r4"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1561394903359, :text "path", :id "JvL-uzRHmA"}
         }
        }
        "x" {
         :type :expr, :by "yeKFqj7rX", :at 1561394976622, :id "0XGnzhsZR"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1561394976947, :text "[]", :id "0XGnzhsZRleaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1561394978228, :text "\"chalk", :id "fjSgc-fnIT"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1561394978794, :text ":as", :id "qY2vSTKPR2"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1561394979458, :text "chalk", :id "wQya6G2YaW"}
         }
        }
        "y" {
         :type :expr, :by "yeKFqj7rX", :at 1561395098798, :id "gMzchwvWfi"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395099109, :text "[]", :id "gMzchwvWfileaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395103542, :text "cljs.reader", :id "NXm5bRFMGs"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1561395104251, :text ":refer", :id "gPbDSLXzeb"}
          "v" {
           :type :expr, :by "yeKFqj7rX", :at 1561395104436, :id "Myt_zGMLCd"
           :data {
            "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395104907, :text "[]", :id "xtVKu_o6bK"}
            "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395106963, :text "read-string", :id "mSNfrjMSId"}
           }
          }
         }
        }
        "yT" {
         :type :expr, :by "yeKFqj7rX", :at 1561395491021, :id "84pERXZj5Q"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395491322, :text "[]", :id "84pERXZj5Qleaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395491704, :text "cljs.spec.alpha", :id "wxRfUCxZQA"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1561395492520, :text ":as", :id "jIhe_o9MOm"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1561395492789, :text "s", :id "GVIdASF7vx"}
         }
        }
        "yj" {
         :type :expr, :by "yeKFqj7rX", :at 1561395496533, :id "p8_zeITa2"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395496890, :text "[]", :id "p8_zeITa2leaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395497244, :text "expound.alpha", :id "TSezS1X7Oc"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1561395498433, :text ":refer", :id "-bmpciyyAf"}
          "v" {
           :type :expr, :by "yeKFqj7rX", :at 1561395498621, :id "kTGkeiOCI"
           :data {
            "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395498832, :text "[]", :id "J_bbTb2S45"}
            "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395501017, :text "expound", :id "_2vWqQjkS6"}
           }
          }
         }
        }
        "yr" {
         :type :expr, :by "yeKFqj7rX", :at 1561395809048, :id "Ub1pwN1dd_"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395809411, :text "[]", :id "Ub1pwN1dd_leaf"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395812485, :text "clojure.string", :id "2lTeoQT1H"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1561395813027, :text ":as", :id "hinDnC6Fm"}
          "v" {:type :leaf, :by "yeKFqj7rX", :at 1561395815494, :text "string", :id "MHangJ4yoD"}
         }
        }
       }
      }
      "v" {
       :type :expr, :by "yeKFqj7rX", :at 1561310697024, :id "8kxtB7TPU1"
       :data {
        "T" {:type :leaf, :by "yeKFqj7rX", :at 1561310699172, :text ":require-macros", :id "8kxtB7TPU1leaf"}
        "j" {
         :type :expr, :by "yeKFqj7rX", :at 1561310699377, :id "R6xLj7L3z3"
         :data {
          "T" {:type :leaf, :by "yeKFqj7rX", :at 1561310699631, :text "[]", :id "kA3nbtvsfc"}
          "j" {:type :leaf, :by "yeKFqj7rX", :at 1561310700016, :text "clojure.core.strint", :id "WTwG8r8kb5"}
          "r" {:type :leaf, :by "yeKFqj7rX", :at 1561310701598, :text ":refer", :id "zCvdeelba"}
          "v" {
           :type :expr, :by "yeKFqj7rX", :at 1561310701878, :id "sY42zwApPX"
           :data {
            "T" {:type :leaf, :by "yeKFqj7rX", :at 1561310702081, :text "[]", :id "_Vg0cqhMet"}
            "j" {:type :leaf, :by "yeKFqj7rX", :at 1561310702682, :text "<<", :id "MWtSqUJGhT"}
           }
          }
         }
        }
       }
      }
     }
    }
    :defs {
     "::config" {
      :type :expr, :by "yeKFqj7rX", :at 1561395598177, :id "YKRRlbOzEn"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395599908, :text "s/def", :id "_WBA4TRier"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395598177, :text "::config", :id "rCa0bP0ttD"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1561395598177, :id "f_Q6e3GorU"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395604652, :text "s/keys", :id "JmOzAEtwz4"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395623333, :text ":req-un", :id "lJ8dxEkH0"}
         "r" {
          :type :expr, :by "yeKFqj7rX", :at 1561395625451, :id "x76uyRTtX"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395632710, :text "[]", :id "3jdEiCaTVT"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395634114, :text "::host", :id "M_Q6NLIajP"}
           "r" {:type :leaf, :by "yeKFqj7rX", :at 1561395643910, :text "::uploads", :id "k_FOQufqw"}
          }
         }
        }
       }
      }
     }
     "::from" {
      :type :expr, :by "yeKFqj7rX", :at 1561395671291, :id "i1eEY5DmRx"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395672437, :text "s/def", :id "iIgzxLvU6L"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395671291, :text "::from", :id "A9YZ6gCSlv"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1561395846292, :id "3JIpY-n-Le"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395846292, :text "s/and", :id "6lPgHdSdsm"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395846292, :text "string?", :id "FfB4W3X-Vi"}
         "r" {
          :type :expr, :by "yeKFqj7rX", :at 1561395846292, :id "wqzO4Zrc2C"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395846292, :text "fn", :id "YkIoUQyk8X"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1561395846292, :id "zgt0KcUP0O"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395846292, :text "x", :id "J3mQv1FZt1"}
            }
           }
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1561395846292, :id "8-2pvVmaeo"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395846292, :text "not", :id "22f_7CpTao"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1561395846292, :id "3i0dFs2Lzi"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395846292, :text "string/blank?", :id "44ZGU8VN_v"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395846292, :text "x", :id "gE0mN4Ixs8"}
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
     "::host" {
      :type :expr, :by "yeKFqj7rX", :at 1561395635445, :id "rqTb5e_14B"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395638114, :text "s/def", :id "ZNFR-0VZ4r"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395635445, :text "::host", :id "mJHxEqXyfB"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1561395777227, :id "SEkeeOQF3_"
        :data {
         "D" {:type :leaf, :by "yeKFqj7rX", :at 1561395779637, :text "s/and", :id "ppWeOiNwE"}
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395640468, :text "string?", :id "h6cgX45VH8"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1561395781188, :id "aXPhOXFnbh"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395781418, :text "fn", :id "RnfTCBi9m"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1561395783673, :id "riSqjYozf"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395783914, :text "x", :id "ujk8moSxC"}
            }
           }
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1561395784557, :id "o2HtiZNg4"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395785961, :text "not", :id "o2HtiZNg4leaf"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1561395786886, :id "dDNNLzVva5"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395806137, :text "string/blank?", :id "xh_rFwOT5"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395806481, :text "x", :id "MsaLU5Xge1"}
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
     "::to" {
      :type :expr, :by "yeKFqj7rX", :at 1561395677580, :id "QXLDESc9fc"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395678951, :text "s/def", :id "2m397_6L0z"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395677580, :text "::to", :id "naOH0-9ItL"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1561395851037, :id "TSCJ0BYA0r"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395851037, :text "s/and", :id "8WpASH0iU0"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395851037, :text "string?", :id "dlam0SeRcS"}
         "r" {
          :type :expr, :by "yeKFqj7rX", :at 1561395851037, :id "QPcGt0B6PP"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395851037, :text "fn", :id "AzCWlzdIaG"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1561395851037, :id "ZiP-quU-rp"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395851037, :text "x", :id "Hq90qgNcTN"}
            }
           }
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1561395851037, :id "k5rt4gyH9M"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395851037, :text "not", :id "NratxKJOii"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1561395851037, :id "ddbpXHz_hm"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395851037, :text "string/blank?", :id "9kHNVqvmra"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395851037, :text "x", :id "eU9J1Y3YDs"}
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
     "::uploads" {
      :type :expr, :by "yeKFqj7rX", :at 1561395644490, :id "koJtzjk4t5"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395645908, :text "s/def", :id "GI4ivCTeFv"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395644490, :text "::uploads", :id "ti4qXcGgOD"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1561395644490, :id "kbypDQCiBg"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395650453, :text "s/coll-of", :id "Izq3aFn3u"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1561395656608, :id "LBwoGZMgC"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395659234, :text "s/keys", :id "rWhDj6_43"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395665574, :text ":req-un", :id "-Q-0KvzYkK"}
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1561395666642, :id "A7K_VUi5x"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395666980, :text "[]", :id "JCqiOx51Pj"}
             "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395669122, :text "::from", :id "lCzvhCgbOh"}
             "r" {:type :leaf, :by "yeKFqj7rX", :at 1561395670291, :text "::to", :id "YnGHgp1Vne"}
            }
           }
          }
         }
        }
       }
      }
     }
     "config-file" {
      :type :expr, :by "yeKFqj7rX", :at 1561394924090, :id "Uea2FNtrYe"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1561394924605, :text "def", :id "yPq6r6uRCV"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1561394924090, :text "config-file", :id "N7YXQyef9h"}
       "r" {:type :leaf, :by "yeKFqj7rX", :at 1561394927742, :text "\"upload.edn", :id "LcnI-LqkfT"}
      }
     }
     "main!" {
      :type :expr, :by "yeKFqj7rX", :at 1534483214794, :id "SWvtON639q"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483214794, :text "defn", :id "0OZDgsAOvf"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483214794, :text "main!", :id "mI-t3ViWvV"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1534483214794, :id "lP6uJuLIHa"
        :data {}
       }
       "x" {
        :type :expr, :by "yeKFqj7rX", :at 1561310747517, :id "f8tozKjYg"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1561310750239, :text "upload!", :id "f8tozKjYgleaf"}
        }
       }
      }
     }
     "reload!" {
      :type :expr, :by "yeKFqj7rX", :at 1534483216569, :id "-BOhJzActg"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483216569, :text "defn", :id "78G4OkYMQ2"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483216569, :text "reload!", :id "uDkGHYSsJo"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1534483216569, :id "Lpt5qqH2Vl"
        :data {}
       }
       "wT" {
        :type :expr, :by "yeKFqj7rX", :at 1534483228056, :id "nvVffdJ4rl"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1534483228922, :text "println", :id "_PKSES8fGyleaf"}
         "j" {:type :leaf, :by "yeKFqj7rX", :at 1534483648553, :text "\"Reloaded.", :id "EGqaOPxjzt"}
        }
       }
      }
     }
     "upload!" {
      :type :expr, :by "yeKFqj7rX", :at 1561310750660, :id "HcnXl2XB28"
      :data {
       "T" {:type :leaf, :by "yeKFqj7rX", :at 1561310750660, :text "defn", :id "JCdZeN-_bx"}
       "j" {:type :leaf, :by "yeKFqj7rX", :at 1561310750660, :text "upload!", :id "UcH95i7rv9"}
       "r" {
        :type :expr, :by "yeKFqj7rX", :at 1561310750660, :id "vk6tR-vLKK"
        :data {}
       }
       "x" {
        :type :expr, :by "yeKFqj7rX", :at 1561394935809, :id "LMyTIqMZuv"
        :data {
         "D" {:type :leaf, :by "yeKFqj7rX", :at 1561394955726, :text "when-not", :id "XSTC5WED2"}
         "T" {
          :type :expr, :by "yeKFqj7rX", :at 1561394880996, :id "04Yb1xzGg6"
          :data {
           "D" {:type :leaf, :by "yeKFqj7rX", :at 1561394914323, :text "fs/existsSync", :id "hzKwQlq3qz"}
           "L" {:type :leaf, :by "yeKFqj7rX", :at 1561395048861, :text "config-file", :id "qMCdykyPB"}
          }
         }
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1561394958617, :id "oET-T-6fm"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1561394985113, :text "println", :id "oET-T-6fmleaf"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1561394986064, :id "C0LOgfOnV"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561394988035, :text "chalk/red", :id "xdCMdjugkZ"}
             "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395005060, :text "\"upload.edn not found.", :id "M40hED5uX"}
            }
           }
          }
         }
         "r" {
          :type :expr, :by "yeKFqj7rX", :at 1561395007413, :id "UNp3ODy-x"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1561396726763, :text "js/process.exit", :id "UNp3ODy-xleaf"}
           "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395020497, :text "1", :id "BzhXegEEh"}
          }
         }
        }
       }
       "xT" {
        :type :expr, :by "yeKFqj7rX", :at 1561395023618, :id "xJtYH2Zkw"
        :data {
         "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395025707, :text "let", :id "xJtYH2Zkwleaf"}
         "j" {
          :type :expr, :by "yeKFqj7rX", :at 1561395026082, :id "Uh_yjSchMb"
          :data {
           "T" {
            :type :expr, :by "yeKFqj7rX", :at 1561395026253, :id "DRvzTY7-QO"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395027109, :text "content", :id "PXu4W1EDyf"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1561395027647, :id "fuFL00NNP"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395032529, :text "fs/readFileSync", :id "64L1iPC6qV"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395051113, :text "config-file", :id "jYEhY5EYnw"}
               "r" {:type :leaf, :by "yeKFqj7rX", :at 1561395054038, :text "\"utf8", :id "Fl7pFAGSA"}
              }
             }
            }
           }
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1561395092210, :id "co98IAhrR"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395093859, :text "config", :id "co98IAhrRleaf"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1561395094111, :id "BGM7G0MqXP"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395096350, :text "read-string", :id "YdHAGsLuIz"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395097019, :text "content", :id "v6F2mEOwdh"}
              }
             }
            }
           }
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1561395377740, :id "Ruq6L_m0S"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395379568, :text "host", :id "Ruq6L_m0Sleaf"}
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1561395379848, :id "1E-PGZHXVG"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395380531, :text ":host", :id "1Iu-DW9JI0"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395383658, :text "config", :id "weuUvnbiNv"}
              }
             }
            }
           }
          }
         }
         "n" {
          :type :expr, :by "yeKFqj7rX", :at 1561395560713, :id "kbGq66ZSf"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395569955, :text "if", :id "kbGq66ZSfleaf"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1561395570367, :id "C1g9UUp6jF"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395573159, :text "s/valid?", :id "3AAJD_xDNB"}
             "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395575601, :text "::config", :id "YSyymayXq"}
             "r" {:type :leaf, :by "yeKFqj7rX", :at 1561395577939, :text "config", :id "huLwVm2zr"}
            }
           }
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1561395581395, :id "zv-nhNOsd"
            :data {
             "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395582428, :text "println", :id "zv-nhNOsdleaf"}
             "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395585103, :text "\"Validated.", :id "nTMYk9SpK"}
            }
           }
           "v" {
            :type :expr, :by "yeKFqj7rX", :at 1561396016737, :id "BNnFLHvW2"
            :data {
             "D" {:type :leaf, :by "yeKFqj7rX", :at 1561396017659, :text "do", :id "UeUtYcX4Vh"}
             "T" {
              :type :expr, :by "yeKFqj7rX", :at 1561395586196, :id "nKXyV_DQwr"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395587084, :text "println", :id "nKXyV_DQwrleaf"}
               "j" {
                :type :expr, :by "yeKFqj7rX", :at 1561395587440, :id "HAPtM7BQMI"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395590677, :text "expound", :id "dapFfQO3d3"}
                 "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395594686, :text "::config", :id "-Y7GvwyoFw"}
                 "r" {:type :leaf, :by "yeKFqj7rX", :at 1561395595930, :text "config", :id "Q3nMzmEpSv"}
                }
               }
              }
             }
             "j" {
              :type :expr, :by "yeKFqj7rX", :at 1561396018218, :id "5rqB53vwWb"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1561396023489, :text "js/process.exit", :id "5rqB53vwWbleaf"}
               "j" {:type :leaf, :by "yeKFqj7rX", :at 1561396023764, :text "1", :id "jFsvUI4sKQ"}
              }
             }
            }
           }
          }
         }
         "r" {
          :type :expr, :by "yeKFqj7rX", :at 1561395118663, :id "XaCSDtiy0"
          :data {
           "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395120465, :text "doseq", :id "XaCSDtiy0leaf"}
           "j" {
            :type :expr, :by "yeKFqj7rX", :at 1561395121867, :id "qOF3dYyxM"
            :data {
             "T" {
              :type :expr, :by "yeKFqj7rX", :at 1561395139884, :id "CGBE9N0XCl"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395143960, :text "info", :id "C_AhdlArg"}
               "j" {
                :type :expr, :by "yeKFqj7rX", :at 1561395146442, :id "v2KAdC8Ii8"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395147550, :text ":uploads", :id "mm-sz5N7uj"}
                 "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395149375, :text "config", :id "zfergTElK"}
                }
               }
              }
             }
            }
           }
           "r" {
            :type :expr, :by "yeKFqj7rX", :at 1561395165120, :id "vkwUk8T4qe"
            :data {
             "D" {:type :leaf, :by "yeKFqj7rX", :at 1561395165777, :text "let", :id "z9LJTS9EJA"}
             "L" {
              :type :expr, :by "yeKFqj7rX", :at 1561395165981, :id "8ZXvbek4-6"
              :data {
               "T" {
                :type :expr, :by "yeKFqj7rX", :at 1561395166372, :id "lZp0EY1mCG"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395167135, :text "from", :id "mdmioQmRFj"}
                 "j" {
                  :type :expr, :by "yeKFqj7rX", :at 1561395167430, :id "PIaL5xTKrm"
                  :data {
                   "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395167995, :text ":from", :id "bx-lILAJt5"}
                   "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395169037, :text "info", :id "p-f86LKGl_"}
                  }
                 }
                }
               }
               "j" {
                :type :expr, :by "yeKFqj7rX", :at 1561395169917, :id "rcL-5i1oTh"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395170420, :text "to", :id "rcL-5i1oThleaf"}
                 "j" {
                  :type :expr, :by "yeKFqj7rX", :at 1561395387105, :id "tddpkdIMFM"
                  :data {
                   "D" {:type :leaf, :by "yeKFqj7rX", :at 1561395387843, :text "str", :id "DW0bLRE1WK"}
                   "L" {:type :leaf, :by "yeKFqj7rX", :at 1561395389497, :text "host", :id "vhw6g3rTrI"}
                   "P" {:type :leaf, :by "yeKFqj7rX", :at 1561395390349, :text "\":", :id "tVeqcQNg4"}
                   "T" {
                    :type :expr, :by "yeKFqj7rX", :at 1561395171001, :id "7Y6MgL_Adv"
                    :data {
                     "T" {:type :leaf, :by "yeKFqj7rX", :at 1561395171580, :text ":to", :id "3uLGlQLb0"}
                     "j" {:type :leaf, :by "yeKFqj7rX", :at 1561395172271, :text "info", :id "rt1GE0Ls9B"}
                    }
                   }
                  }
                 }
                }
               }
              }
             }
             "T" {
              :type :expr, :by "yeKFqj7rX", :at 1561396093429, :id "T_d3DLk_Su"
              :data {
               "T" {:type :leaf, :by "yeKFqj7rX", :at 1561396093429, :text "sh!", :id "-HibTZqPC3"}
               "j" {
                :type :expr, :by "yeKFqj7rX", :at 1561396093429, :id "SSOAIgbTHj"
                :data {
                 "T" {:type :leaf, :by "yeKFqj7rX", :at 1561396093429, :text "<<", :id "RvkjmQbqL2"}
                 "j" {:type :leaf, :by "yeKFqj7rX", :at 1561396093429, :text "\"rsync -avr --progress ~{from} ~{to}", :id "S3jp51V44y"}
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    }
    :proc {
     :type :expr, :by "yeKFqj7rX", :at 1534483212338, :id "mpzXR47-KZ"
     :data {}
    }
   }
  }
 }
 :configs {:storage-key "calcit.edn", :local-storage-key "calcit-storage", :extension ".cljs", :output "src", :port 6001}
}